.contactContainer {
  display: flex;
  height: 80vh;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
    .contactMe {

    }

    .address {
      display: flex;
      justify-content: space-between;

      height: 20%;
    }

    .map {
      height: 30%;
      width: 100%;
      margin-bottom: 10px;

      & iframe {
        width: 100%;
        height: 100%;
      }

    }
    .formContainer {
      display: flex;
      height: 40%;
      margin-bottom: 10px;
      .form {
        display: flex;
        flex: 1;
        flex-direction: column;

        & input {

          height: 10%;

        }

        & textarea {
          height: 70%;
        }

        & button {

          margin-top: 3px;
        }

      }

    }

  }
  .right {

    flex: 1;
  }

}
