.work {
  display: flex;

  .left {

    display: flex;
    position: absolute;
    z-index: 9999;
    width: 15%;
    height: 80vh;

    .list {
      flex-grow: 10;
      background-color: gainsboro;

      &.false {
        display: none;

      }

      .d3examples {
        margin-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        & ul {
          padding: 0;
        }
        & li {
          padding: 5px;
          font-size: 20px;
          background-color: lightgray;
          height: 40px;
          border-radius: 11px;
          border: 2px solid;
          text-align: center;
          line-height: 30px;
          margin-bottom: 10px;
          list-style-type: none;
        }
      }

    }
    .hideMe {
      background-color: grey;
      flex-grow: 1.5;
      height: 100%;
      display: flex;
      justify-content: space-around;

      &.true {
        position: absolute;
        width: 10%;
      }

      & span {
        display: flex;
        align-items: center;
      }

    }
  }
  .right {
    flex-grow: 1;
    height: 80vh;
    display: flex;

    .d3Container {
      width: 100%;
      background: white;
      display: flex;
      .svgbody {
        flex-grow: 1;
        margin: 2%;
      }
    }
  }

}

.fa.fa-bars {
  transform: rotate(90deg);
  margin: 0px;
}
