.tictacContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .result {
    display: flex;
    background: aliceblue;
    width: 50vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }

  .board {
    display: flex;
    height: 40vh;
    width: 50vw;
    background: darkgrey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    &.isGameOver {
      cursor: default;
      background: darkgrey;
      opacity: 0.5;

    }

    .ticrow {
      display: flex;
      height: 33%;
      width: 100%;
      .ticcol {
        flex: 1;
        border: 1px solid;
        font-size: 90px;
        text-align: center;
      }
    }

  }

}