.root {
  display: flex;
  flex-direction: column;
}
.headerContainer {
  display: flex;
  height: 10vh;
  background: #003b5b;
  justify-content: flex-end;
  color: white;
  font-size: 16px;
}
.headerContainer .hname {
  display: flex;
  line-height: 15px;
  margin-right: 5px;
  width: 100px;
  height: 100%;
  align-items: center;
}
.headerContainer .hname:hover {
  color: lightskyblue;
  border-top: 3px solid lightskyblue;
}
.headerContainer .headerImage {
  display: block;
  flex: 1 0 0;
}
.wrapper > div {
  max-height: 80vh;
}
.fade {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.fade.true {
  display: block;
}
.errorMessage {
  display: block;
  position: absolute;
  top: 25%;
  left: 15%;
  width: 55%;
  height: 10%;
  padding: 16px;
  border: 3px solid #003b5b;
  background-color: gray;
  z-index: 1002;
  color: white;
  display: flex;
  flex-direction: column;
}
.errorMessage > span {
  align-self: center;
  margin-top: 5px;
}
.checkBrowser {
  display: none;
}
.browser {
  position: absolute;
  margin-left: 50%;
  margin-top: 10%;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
.mainBody {
  height: 80vh;
  display: flex;
  justify-content: center;
  /* align horizontal */
  background: lightslategrey;
}
.mainBody .typeWrite {
  position: absolute;
  font-size: 100px;
  color: white;
  top: 25%;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}
.mainBody > span {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: white;
}
.mainBody > img {
  max-width: 100%;
}
.footer {
  position: relative;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align horizontal */
  background: lightslategrey;
}
.footer .footerimg {
  width: 100%;
}
.footer > span {
  color: #fff;
  position: absolute;
  /* text-align: center; */
  /* transform: translateY(50%); */
  top: 50%;
}
.portfolio {
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align horizontal */
  background: lightslategrey;
  padding: 5%;
}
.portfolio > img {
  margin-left: 10px;
  height: 100%;
  flex-grow: 1;
}
.aboutMe {
  height: 100%;
  width: 100%;
  background: lightslategrey;
  padding: 5%;
  flex-direction: column;
}
.aboutMe .skill {
  display: flex;
  height: 30px;
  margin-bottom: 5px;
}
.aboutMe .skill > div {
  background: lightskyblue;
}
.aboutMe .skill > span {
  width: 10%;
  line-height: 20px;
  align-self: center;
  font-size: 20px;
  color: red;
}
.incompatible {
  display: none;
}
.outdated {
  display: none;
}
.bar {
  background: lightblue;
}
.bar-appear {
  opacity: 0.01;
  transition: opacity 50ms ease-in;
}
.bar-appear-active {
  transition: opacity 50ms ease-in;
}
.myskills {
  display: flex;
}
.fa {
  margin-right: 15px;
  cursor: pointer;
}
.contact {
  color: red;
}
.rotate-scale-up-appear {
  -webkit-animation: rotate-scale-up-appear 0.65s linear both;
  animation: rotate-scale-up-appear 0.65s linear both;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-7-5 17:39:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up-appear {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up-appear {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
